.rh-about-sec {
	z-index: 1;
	.rh-ab-shape {
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		opacity: 0.06;
	}
	.rh-ab-shape2 {
		left: 0;
		bottom: 0;
		opacity: 0.2;
	}
}
.rh-about-title {
	padding-right: 50px;
	.rh-sec-title {
		max-width: 955px;
	}
}
.rh-about-content {
	gap: 30px 40px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.rh-about-wrap1 {
	max-width: 571px;
}
.rh-about-img1 {
	.item-img {
		clip-path: polygon( 100% 69.34%,100% 69.34%,99.993% 69.542%,99.973% 69.743%,99.94% 69.939%,99.895% 70.132%,99.837% 70.319%,99.767% 70.5%,99.685% 70.675%,99.592% 70.841%,99.488% 70.999%,99.373% 71.147%,87.157% 85.671%,76.099% 99.242%,76.099% 99.242%,75.976% 99.381%,75.846% 99.507%,75.708% 99.62%,75.563% 99.718%,75.413% 99.803%,75.258% 99.873%,75.098% 99.928%,74.935% 99.968%,74.769% 99.992%,74.601% 100%,2.102% 100%,2.102% 100%,1.761% 99.967%,1.437% 99.871%,1.136% 99.717%,0.86% 99.51%,0.616% 99.257%,0.405% 98.961%,0.235% 98.629%,0.107% 98.265%,0.028% 97.874%,0% 97.463%,0% 2.537%,0% 2.537%,0.028% 2.125%,0.107% 1.735%,0.235% 1.371%,0.405% 1.039%,0.616% 0.743%,0.86% 0.489%,1.136% 0.283%,1.437% 0.129%,1.761% 0.033%,2.102% 0%,97.898% 0%,97.898% 0%,98.239% 0.033%,98.563% 0.129%,98.864% 0.283%,99.14% 0.489%,99.384% 0.743%,99.594% 1.039%,99.765% 1.371%,99.893% 1.735%,99.972% 2.125%,100% 2.537%,100% 69.34%,100% 97.463%,100% 84.918%,99.936% 84.278%,99.756% 83.714%,99.479% 83.236%,99.124% 82.854%,98.71% 82.578%,98.256% 82.416%,97.782% 82.379%,97.306% 82.476%,96.847% 82.716%,96.424% 83.11%,96.424% 83.11%,90.826% 89.765%,86.004% 95.684%,85.678% 96.195%,85.478% 96.749%,85.398% 97.324%,85.429% 97.896%,85.564% 98.444%,85.793% 98.943%,86.109% 99.371%,86.505% 99.705%,86.972% 99.922%,87.502% 100%,87.502% 100%,97.898% 100%,98.239% 99.967%,98.563% 99.871%,98.864% 99.717%,99.14% 99.51%,99.384% 99.257%,99.594% 98.961%,99.765% 98.629%,99.893% 98.265%,99.972% 97.874%,100% 97.463%,100% 97.463% );
	}
}
.rh-about-list {
	ul {
		gap: 15px;
		display: flex; 
		flex-wrap: wrap;
		li {
			width: 48%;
			margin-bottom: 12px;
			padding-left: 25px;
			position: relative;
			@media #{$xxs} {
				width: 100%;
			}
			&:before {
				top: 0;
				left: 0;
				color: #000000;
				content: '\2b';
				font-weight: 700;
				position: absolute;
				font-family: "Font Awesome 5 Free";
				transition: all 500ms ease-in-out;
			}
			&:hover {
				&:before {
					transform: rotate(360deg);
				}
			}
		}
	}
}

.rh-about-wrap2 {
	max-width: 741px;
}
.rh-about-img2 {
	.item-img {
		clip-path: polygon( 100% 82.147%,100% 82.147%,99.993% 82.407%,99.973% 82.663%,99.941% 82.915%,99.895% 83.162%,99.837% 83.403%,99.768% 83.636%,99.686% 83.86%,99.593% 84.074%,99.489% 84.278%,99.374% 84.47%,94.262% 92.347%,89.835% 99.045%,89.835% 99.045%,89.71% 99.22%,89.576% 99.379%,89.436% 99.521%,89.289% 99.645%,89.137% 99.752%,88.98% 99.84%,88.818% 99.909%,88.653% 99.959%,88.485% 99.99%,88.316% 100%,2.159% 100%,2.159% 100%,1.809% 99.957%,1.477% 99.832%,1.167% 99.632%,0.884% 99.364%,0.632% 99.034%,0.417% 98.649%,0.241% 98.217%,0.11% 97.744%,0.028% 97.236%,0% 96.701%,0% 17.853%,0% 17.853%,0.007% 17.593%,0.027% 17.337%,0.059% 17.084%,0.105% 16.838%,0.163% 16.597%,0.232% 16.364%,0.314% 16.14%,0.407% 15.926%,0.511% 15.722%,0.626% 15.53%,5.739% 7.653%,10.165% 0.955%,10.165% 0.955%,10.291% 0.78%,10.424% 0.621%,10.564% 0.479%,10.711% 0.355%,10.863% 0.248%,11.02% 0.16%,11.182% 0.091%,11.347% 0.041%,11.515% 0.01%,11.685% 0%,97.841% 0%,97.841% 0%,98.191% 0.043%,98.523% 0.168%,98.833% 0.368%,99.116% 0.637%,99.368% 0.966%,99.583% 1.351%,99.759% 1.783%,99.89% 2.256%,99.972% 2.764%,100% 3.299%,100% 82.147% );
	}
}