.rh-blog-top {
	gap: 15px;
	flex-wrap: wrap;
	.rh-sec-title {
		max-width: 605px;
	}
	.desc-text {
		color: #000000;
		max-width: 530px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			text-align: left !important;
		}
	}
}

.rh-blog-item {
	padding: 16px;
	margin-bottom: 30px;
	background-color: #fff;
	clip-path: polygon( 100% 92.96%,100% 92.96%,99.992% 93.12%,99.968% 93.278%,99.929% 93.433%,99.874% 93.585%,99.805% 93.733%,99.721% 93.877%,99.623% 94.015%,99.512% 94.148%,99.386% 94.274%,99.248% 94.394%,95.899% 97.069%,92.692% 99.425%,92.692% 99.425%,92.537% 99.531%,92.372% 99.627%,92.199% 99.712%,92.019% 99.787%,91.832% 99.851%,91.639% 99.904%,91.442% 99.946%,91.24% 99.976%,91.035% 99.994%,90.827% 100%,2.697% 100%,2.697% 100%,2.259% 99.973%,1.844% 99.895%,1.457% 99.769%,1.104% 99.601%,0.79% 99.394%,0.52% 99.153%,0.301% 98.882%,0.137% 98.585%,0.035% 98.267%,0% 97.931%,0% 7.04%,0% 7.04%,0.008% 6.88%,0.032% 6.722%,0.071% 6.567%,0.126% 6.415%,0.195% 6.267%,0.279% 6.123%,0.377% 5.985%,0.488% 5.852%,0.614% 5.726%,0.752% 5.606%,4.101% 2.931%,7.308% 0.575%,7.308% 0.575%,7.463% 0.469%,7.628% 0.373%,7.801% 0.288%,7.981% 0.213%,8.168% 0.149%,8.361% 0.096%,8.558% 0.054%,8.76% 0.024%,8.965% 0.006%,9.173% 0%,97.303% 0%,97.303% 0%,97.741% 0.027%,98.156% 0.105%,98.543% 0.231%,98.896% 0.399%,99.21% 0.606%,99.48% 0.847%,99.699% 1.118%,99.863% 1.415%,99.965% 1.733%,100% 2.069%,100% 92.96% );
	.item-img {
		height: 400px;
		width: 100%;
		margin-bottom: 30px;
		clip-path: polygon( 100% 92.195%,100% 92.195%,99.994% 92.349%,99.977% 92.502%,99.949% 92.652%,99.91% 92.799%,99.86% 92.942%,99.8% 93.081%,99.729% 93.215%,99.649% 93.343%,99.559% 93.465%,99.46% 93.581%,96.563% 96.694%,93.782% 99.445%,93.782% 99.445%,93.67% 99.547%,93.552% 99.639%,93.428% 99.722%,93.299% 99.794%,93.164% 99.856%,93.026% 99.907%,92.884% 99.947%,92.739% 99.976%,92.591% 99.994%,92.442% 100%,1.937% 100%,1.937% 100%,1.623% 99.974%,1.325% 99.898%,1.047% 99.777%,0.793% 99.614%,0.567% 99.414%,0.374% 99.181%,0.216% 98.919%,0.099% 98.632%,0.025% 98.324%,0% 98%,0% 7.805%,0% 7.805%,0.006% 7.651%,0.023% 7.498%,0.051% 7.348%,0.09% 7.201%,0.14% 7.058%,0.2% 6.919%,0.271% 6.785%,0.351% 6.657%,0.441% 6.535%,0.54% 6.419%,3.437% 3.306%,6.218% 0.556%,6.218% 0.556%,6.329% 0.453%,6.448% 0.361%,6.572% 0.278%,6.701% 0.206%,6.836% 0.144%,6.974% 0.093%,7.116% 0.053%,7.261% 0.024%,7.409% 0.006%,7.558% 0%,98.063% 0%,98.063% 0%,98.377% 0.026%,98.675% 0.102%,98.953% 0.223%,99.207% 0.386%,99.433% 0.586%,99.626% 0.819%,99.784% 1.081%,99.901% 1.368%,99.975% 1.676%,100% 2%,100% 92.195% );
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		padding-left: 8px;
		padding-bottom: 12px;
		.item-meta {
			margin-bottom: 16px;
			a {
				color: #A37733;
				font-size: 15px;
				font-weight: 500;
				padding: 3px 10px;
				margin-right: 5px;
				border-radius: 4px;
				background-color: #F8EBD6;
				&:last-child {
					color: #666666;
					margin-right: 0;
					background-color: #E5E5E5;
				}
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 500;
		}
	}
	&:hover {
		.item-img {
			img {
				filter: grayscale(1);
				transform: scale(1.1);
			}
		}
	}
}

.rh-blog-more {
	z-index: 1;
	.rh-blog-shape {
		left: 0;
		top: -12px;
		z-index: -1;
		overflow: hidden;
		position: absolute;
	}
}