.rh-hero-content{
	z-index: 1;
	padding-top: 285px;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	@media #{$xs,$xxs} {
		border-radius: 0;
		padding-top: 200px;
	}
	.rh-hero-shape {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -2;
		height: 100%;
		max-height: 850px;
		background-color: #fff;
		background-color: #000000;
		clip-path: polygon( 0% 92.752%,0% 0%,100% 0%,100% 51.222%,100% 51.222%,99.963% 52.303%,99.856% 53.336%,99.683% 54.31%,99.45% 55.212%,99.162% 56.029%,98.823% 56.75%,98.439% 57.362%,98.016% 57.852%,97.557% 58.208%,97.068% 58.418%,41.907% 72.967%,41.907% 72.967%,41.574% 73.092%,41.253% 73.287%,40.944% 73.549%,40.65% 73.875%,40.373% 74.262%,40.114% 74.705%,39.877% 75.204%,39.662% 75.753%,39.473% 76.351%,39.31% 76.994%,35.079% 95.921%,35.079% 95.921%,34.894% 96.642%,34.675% 97.303%,34.426% 97.902%,34.15% 98.435%,33.849% 98.896%,33.527% 99.283%,33.186% 99.591%,32.829% 99.815%,32.46% 99.953%,32.081% 100%,3.333% 100%,3.333% 100%,2.793% 99.905%,2.28% 99.63%,1.801% 99.191%,1.365% 98.602%,0.976% 97.877%,0.643% 97.033%,0.372% 96.083%,0.17% 95.043%,0.044% 93.928%,0% 92.752% );
		img {
			opacity: .28;
			mix-blend-mode: luminosity;
		}
		@media #{$md,$sm,$xs,$xxs} {
			clip-path: none;
		}
	}
	.rh-hero-bg {
		left: 0;
		bottom: 0;
		z-index: -3;
		height: 70%;
		width: 100%;
	}
	.rh-hero-bg2 {
		left: 0;
		bottom: 0%;
		width: 100%;
		height: 82%;
		z-index: -1;
	}
}
.rh-hero-text {
	max-width: 620px;
	padding-bottom: 260px;
	@media #{$md,$sm,$xs,$xxs} {
		padding-bottom: 100px;
	}
	.hero_text {
		color: #fff;
		font-size: 60px;
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 20px;
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
		@media #{$xxxs} {
			font-size: 38px;
		}
	}
	p {
		color: #fff;
		opacity: .8;
		font-weight: 500;
		margin-bottom: 40px;	
	}
}

.rh-hero-search {
	z-index: 1;
	height: 215px;
	margin-top: 305px;
	border-radius: 8px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		background-color: #fff;
	}
	@media #{$md,$sm,$xs,$xxs} {
		height: 100%;
		margin-top: 0px;
		padding-bottom: 30px;
	}
	.rh-search-shape {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.rh-hero-filter-btn {
	display: inline-block;
	padding: 28px 28px 28px 35px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 25px 20px;
	}
	li {
		margin-right: 18px;
		&:last-child {
			margin-right: 0;
		}
	}
	.nav-tabs .nav-link {
		position: relative;
		background-color: #F5F5F5;
		transition: all 300ms ease-in-out;
		i {
			right: 0;
			opacity: 0;
			bottom: -0px;
			position: absolute;
			transition: all 200ms ease-in-out;
		}
	}
	.nav-tabs .nav-link,
	.nav-tabs .nav-link.active  { 
		font-size: 16px;
		font-weight: 500;
		padding: 12px 24px;
		border-radius: 8px;
		color: var(--rh-title-color);
	}
	.nav-tabs .nav-link.active {
		color: #fff;
		box-shadow: 4px 8px 17px 0px #00000040;
		background-color: var(--rh-prime-c);
		i {
			opacity: 1;
			bottom: -10px;
		}
	}
}
.rh-hero-filter-area {
	gap: 16px;
	margin-bottom: 10px;
	padding: 6px 10px 0px 35px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 6px 15px 0px 25px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.rh-filter-field {
		width: 100%;
		max-width: 280px;
		@media #{$sm,$xs,$xxs} {
			max-width: 100%;
		}
		label {
			display: block;
			margin-bottom: 5px;
			color: var(--rh-title-color);
		}
		input,select {
			width: 100%;
			color: #666666;
			height: 52px;
			font-size: 16px;
			appearance: none;
			padding-left: 16px;
			border-radius: 8px;
			border: 1px solid #E5E5E5;
			&::placeholder {
				color: #666666;
				font-size: 16px;
			}
		}
	}
	.inner-select {
		&:before {
			top: 15px;
			right: 15px;
			font-size: 14px; 
			content: "\f078";
			font-weight: 700;
			position: absolute;
			font-family: "Font Awesome 5 Free";
		}
	}
	button {
		color: #fff;
		height: 52px;
		border: none;
		font-weight: 500;
		border-radius: 8px;
		padding: 10px 32px;
		white-space: nowrap;
		background-color: var(--rh-prime-c);
	}
}