.rh-properti-sec {
	.rh-sec-title {
		margin: 0 auto;
		max-width: 500px;
	}
}
.rh-properti-item {
	padding: 50px 0px;
	.item-inner {
		padding: 8px;
		border-radius: 16px;
		background-color: #fff;
		transition: all 500ms ease-in-out;
		.item-img {
			overflow: hidden;
			border-radius: 16px;
			margin-bottom: 16px;
		}
		.item-text {
			padding: 0px 16px 4px;
		}
		.inner-text {
			h3 {
				font-size: 20px;
				font-weight: 400;
			}
			span {
				color: #666666;
				font-size: 15px;
			}
		}
		.item-arrow {
			a {
				color: var(--rh-prime-c);
			}
		}
		&:hover {
			box-shadow: 12px 12px 28px 0px #00000052;
		}
	}
}
.rh-property-nav {
	.rh-pro-prev,
	.rh-pro-next {
		top: 50%;
		z-index: 2;
		width: 48px;
		height: 48px;
		position: absolute;
		border-radius: 100%;
		background-color: #fff;
		color: var(--rh-prime-c);
		transform: translateY(-50%);
		transition: all 500ms ease-in-out;
		&:hover {
			color: #fff;
			background-color: var(--rh-prime-c);
		}
	}
	.rh-pro-prev {
		left: 20px;
	}
	.rh-pro-next {
		right: 20px;
	}
}
.rh-properti-slider {
	width: 136%;
	margin-left: -200px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		margin-left: 0px;
	}
}
.rh-top-property-sec {
	z-index: 1;
	.rh-sec-title {
		margin: 0 auto;
		max-width: 720px;
		.sec_title {
			color: #fff;
		}
		.subtitle {
			color: rgba(255, 255, 255, .64);
		}
	}
	.rh-tp-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
	.rh-btn1 {
		a {
			span {
				color: #000000;
			}
		}
	}
}
.rh-tp-filter-btn {
	button {
		color: #fff;
		border: none;
		margin: 4px 2px;
		font-size: 16px;
		font-weight: 500;
		padding: 9px 24px;
		border-radius: 30px;
		background-color: #27282C;
		transition: all 500ms ease-in-out;
		&:is(.is-checked) {
			color: #000;
			background-color: var(--rh-prime-c);
		}
	}
}
.rh-tp-item {
	overflow: hidden;
	border-radius: 12px;
	background: #FFFFFF1F;
	backdrop-filter: blur(20px);
	.item-text {
		padding: 25px 30px 28px;
		@media #{$xxs} {
			padding: 25px 16px 28px;
		}
		.inner-location {
			color: #fff;
			font-size: 16px;
			margin-bottom: 10px;
			i {
				margin-right: 8px;
			}
		}
		h3 {
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 16px;
			@media #{$xxs} {
				font-size: 20px;
			}
		}
		.item-meta {
			gap: 8px 28px;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 16px;
			padding-bottom: 14px;
			border-bottom: 1px solid rgba(255, 255, 255, .16);
			a {
				gap: 4px;
				display: flex;
				align-items: center;
				color: rgba(255, 255, 255, .60);
				font-size: 16px;
				i {
					margin-right: 2px;
				}
				span {
					font-weight: 500;
					color: rgba(255, 255, 255, 1);
				}
			}
		}
		.item-price {
			.item-auth {
				gap: 12px;
				.auth-img {
					width: 44px;
					height: 44px;
					overflow: hidden;
					border-radius: 100%;
				}
				.auth-name {
					color: #fff;
					font-size: 16px;
				}
			}
		}
		.price-value {
			color: #F5F5F5;
			font-size: 20px;
			font-weight: 600;
		}
	}
}

.rh-tp-filter-area { 
	margin: 0px -16px;
	.grid-sizer {
		width: 33.33%;
		@media #{$lg} {
			width: 50%;
		}
		@media #{$md} {
			width: 50%;
		}
		@media #{$sm,$xs,$xxs} {
			width: 100%;
		}
	}
	.grid-item {
		float: left;
		padding: 16px;
		display: inline-block;
	} 
	.grid-size-33 {
		width: 33.33%;
		@media #{$lg} {
			width: 50%;
		}
		@media #{$md} {
			width: 50%;
		}
		@media #{$sm,$xs,$xxs} {
			width: 100%;
		}
	}
}