.rh-team-sec {
	.rh-sec-title {
		max-width: 645px;
	}
}
.rh-team-content {
	.row {
		--bs-gutter-x: 12px;
	}
}
.rh-team-item {
	padding: 8px;
	margin: 0 auto;
	max-width: 338px;
	border-radius: 12px;
	margin-bottom: 48px;
	background-color: #fff;
	transition: all 500ms ease-in-out;
	.item-img {
		margin-bottom: 15px;
		.inner-img {
			clip-path: polygon( 100% 71.761%,100% 71.761%,99.988% 72.043%,99.953% 72.321%,99.895% 72.594%,99.815% 72.861%,99.714% 73.121%,99.591% 73.373%,99.448% 73.615%,99.284% 73.846%,99.101% 74.066%,98.899% 74.271%,89.641% 82.989%,73% 98.958%,73% 98.958%,72.784% 99.149%,72.554% 99.322%,72.312% 99.477%,72.059% 99.613%,71.795% 99.729%,71.523% 99.825%,71.243% 99.901%,70.957% 99.956%,70.667% 99.989%,70.372% 100%,3.704% 100%,3.704% 100%,3.103% 99.954%,2.533% 99.82%,2.002% 99.606%,1.516% 99.319%,1.085% 98.966%,0.715% 98.555%,0.413% 98.093%,0.189% 97.586%,0.048% 97.043%,0% 96.471%,0% 3.529%,0% 3.529%,0.048% 2.957%,0.189% 2.414%,0.413% 1.907%,0.715% 1.445%,1.085% 1.034%,1.516% 0.681%,2.002% 0.394%,2.533% 0.18%,3.103% 0.046%,3.704% 0%,96.296% 0%,96.296% 0%,96.897% 0.046%,97.467% 0.18%,97.998% 0.394%,98.484% 0.681%,98.915% 1.034%,99.285% 1.445%,99.587% 1.907%,99.811% 2.414%,99.952% 2.957%,100% 3.529%,100% 71.761% );
		}
		.item-arrow {
			right: 0;
			bottom: 0;
			position: absolute;
			a {
				width: 67px;
				height: 67px;
				display: flex;
				color: #000000;
				align-items: end;
				justify-content: center;
				background-color: #F5F5F5;
				clip-path: polygon( 60.75% 33.279%,93.529% 0.894%,93.529% 0.894%,94.148% 0.415%,94.82% 0.122%,95.518% 0.004%,96.213% 0.048%,96.877% 0.244%,97.484% 0.579%,98.004% 1.042%,98.41% 1.622%,98.674% 2.306%,98.768% 3.083%,98.768% 95.717%,98.768% 95.717%,98.728% 96.216%,98.611% 96.69%,98.425% 97.131%,98.174% 97.535%,97.867% 97.893%,97.508% 98.201%,97.105% 98.451%,96.664% 98.637%,96.19% 98.754%,95.691% 98.794%,3.083% 98.794%,3.083% 98.794%,2.305% 98.7%,1.62% 98.435%,1.041% 98.028%,0.577% 97.507%,0.242% 96.9%,0.047% 96.234%,0.004% 95.538%,0.124% 94.84%,0.419% 94.168%,0.9% 93.549%,60.75% 33.279% );
				i {
					font-size: 20px;
					transition: all 300ms ease-in-out;
					transform: rotate(-45deg) translate(17px, -1px);
				}
			}
		}
	}
	.item-text {
		padding-left: 16px;
		padding-bottom: 6px;
		h3 {
			font-size: 20px;
			font-weight: 700;
		}
		span {
			color: #666666;
			font-size: 16px;
		}
	}
	&:hover {
		box-shadow: 8px 8px 16px 0px #0000001F;
		.item-img {
			.item-arrow {
				a {
					background-color: var(--rh-prime-c);
					i {
						color: #fff;
					}
				}
			}
		}
	}
}
.rh-team-desc {
	height: 100%;
	padding-top: 50px;
	padding-left: 20px;
	.inner-item {
		height: 100%;
		flex-direction: row-reverse;
		.rh-btn1 {
			@media #{$sm,$xs,$xxs} {
				margin-top: 30px;
			}
		}
	}
}