/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
	--rh-body-color: #666666;
	--rh-title-color: #000000;
	--rh-heading: "Lato", sans-serif;
	--rh-body-font: "Lato", sans-serif;
	--rh-prime-c: #B79B6F;
	--cube-1: cubic-bezier(0.55, 0.085, 0, 0.99);
	--cube-2: all .25s cubic-bezier(.645,.045,.355,1);
	--cube-3: cubic-bezier(0.25, 1, 0.5, 1);
}

// Responsive Variables
$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'only screen and (min-width: 481px) and (max-width: 575px)';
$xxs:'(max-width: 480px)';
$xxxs:'(max-width: 360px)';