/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Properti area*/
/*----------------------------------------------------*/
@import "home_1/properti";
/*---------------------------------------------------- */
/*Video area*/
/*----------------------------------------------------*/
@import "home_1/video";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_1/team";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_1/price";
/*---------------------------------------------------- */
/*static area*/
/*----------------------------------------------------*/
@import "home_1/static";
/*---------------------------------------------------- */
/*Project area*/
/*----------------------------------------------------*/
@import "home_1/project";
/*---------------------------------------------------- */
/*Sponsor area*/
/*----------------------------------------------------*/
@import "home_1/sponsor";
/*---------------------------------------------------- */
/*blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */
/*Testi area*/
/*----------------------------------------------------*/
@import "home_1/testi";
/*---------------------------------------------------- */


/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */